.button {
  width: 100%;
  padding: 4px 2px;
  font-size: 16px;
  color: black;
}

.primary {
  border: none;
  background: none;
  outline: none;

  &:hover {
    background: var(--inverted-bg-color);
    color: white;
  }
}

.secondary {
  padding: 0;
  border: 0;
  outline: 0;
  width: inherit;
  background-color: inherit;
  color: var(--bg-color);
}

.tertiary {
  padding: 2px 4px;
  max-width: 75px;
  border: 1px solid var(--bg-color);
  outline: 0;
  width: inherit;
  background-color: inherit;
  color: var(--bg-color);
}
