.button {
  padding: 4px 2px;
  font-size: 16px;
  color: black;
}

.primary {
  border: none;
  background: none;
  outline: none;

  &:hover {
    background: var(--inverted-bg-color);
    color: white;
  }
}

.secondary {
  padding: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: var(--bg-color);
}

.tertiary {
  padding: 2px 10px;
  width: fit-content;
  border: 1px solid var(--bg-color);
  outline: 0;
  background-color: inherit;
  color: var(--bg-color);
}
